@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #3f00e1, #0575e6);
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
